.chatsPageContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow: hidden;
}

.sidebar {
    flex: 0 0 80px;
    height: 100vh;
}

.chatListSidebar {
    border-left: solid 3px var(--input-border);
    padding: 10px;
    width: 25vw;
    height: 100%;
    background: var(--bg-panel);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    min-width: 220px;
    max-width: 400px;
    height: 100vh;
    overflow-y: auto;
}

.searchContainer {
    width: 100%;
}

.chatList {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.chatItem {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.chatItem:hover {
    background-color: var(--item-hover);
}

.chatItem.active {
    background-color: var(--item-hover);
}

/* ChatInfo */
.chatInfo {
    flex: 1;
    min-width: 0;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

.chatInfoHeader {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}

.chatInfoHeader h3 {
    color: var(--text-main);
    font-size: 15px;
}

.chatInfoHeader p {
    color: var(--text-muted);
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatInfoFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}

.chatInfoFooter .timestamp {
    font-size: 11px;
    color: var(--text-muted);
}

.chatInfoFooter .notificationBadge {
    border-radius: 100%;
    background-color: var(--notification-badge);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatInfoFooter .notificationBadge p {
    font-size: 11px;
}