* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.form-fade {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5;
  }
  
  .element-fade {
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
    transform: translateY(10px);
  }
  
  .toggle-mode-btn {
    margin-top: 10px;
    background: transparent;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 4px;
    color: #828282;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .toggle-mode-btn:hover {
    background: #f5f5f5;
    color: #333;
  }
  
  .form-inputs {
    display: flex;
    flex-direction: column;
  }
  
  .form-element {
    transition: all 0.3s ease-in-out;
  }